<template name="list">
  <ul id="todos" class="unstyled">
    {{#each todos}}
      {{> item}}
    {{/each}}
    
    {{#if todos_completed_any}}
      <hr/>
      {{#each todos_completed}}
        {{> item}}
      {{/each}}
      <a href="#" id="clear" class="btn btn-inverse pull-right btn-mini">
        Clear {{todos_completed_count}} completed
      </a>
      <div class="clearfix"></div>
    {{/if}}
  </ul>  
</template>

<template name="item">
  <li class="{{completed_class}}" rel="tooltip" title="{{name}}">
    <a href="#" class="btn complete">
      <i class="icon-ok"></i>
    </a>
    <a href="#" class="btn btn-success uncomplete">
      <i class="icon-chevron-left icon-white"></i>
    </a>
    <span class="item-name">{{name}}</span>
    <a href="#" class="btn btn-danger remove">
      <i class="icon-remove icon-white"></i>
    </a>
  </li>
</template>